/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-size: 100% 100%;   
  }
  
  .form-container {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:550px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1.8px solid black;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid black;
  }
  
  button:hover {
    background-image: linear-gradient(to bottom right, rgb(3, 33, 114), rgb(35, 161, 211));
    color: aliceblue;
  }
  
  #error-message {
    margin-top: 10px;
    text-align: center;
  }
  
  